<div class="modal fade" id="modalRedefinirSenha" tabindex="-1" aria-labelledby="modalRedefinirSenhaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRedefinirSenhaLabel">Inserir Senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="NovaSenha" class="form-label">Nova Senha</label>
                    <input type="password" class="form-control" id="NovaSenhaModal" required />
                </div>
                <div class="mb-3">
                    <label for="ConfirmarSenha" class="form-label">Confirmar Senha</label>
                    <input type="password" class="form-control" id="ConfirmarSenhaModal" required />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-custom" onclick="SalvarSenha()">Salvar</button>
                <button type="button" class="btn-custom" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script>
    function SalvarSenha() {
        const novaSenha = document.getElementById("NovaSenhaModal").value;
        const confirmarSenha = document.getElementById("ConfirmarSenhaModal").value;

        if (novaSenha !== confirmarSenha) {
            alert("As senhas não coincidem.");
            return;
        }

        document.getElementById("Senha").value = novaSenha;

        const modalElement = document.getElementById("modalRedefinirSenha");
        const modalInstance = bootstrap.Modal.getInstance(modalElement);

        if (modalInstance) {
            modalInstance.hide();
            modalElement.addEventListener('hidden.bs.modal', () => {
            document.querySelectorAll('.modal-backdrop').forEach(el => el.remove());
            document.body.classList.remove('modal-open');
            document.body.style = '';
            }, { once: true });
        }
    }
</script>
