@model Instrutor
@{
    ViewData["Title"] = "Editar Instrutor";
}

<div class="text-center">
    <h1 class="display-4">Editar Instrutor</h1>
</div>

<form id="cadastroForm" asp-action="Instrutor" method="get" asp-controller="Instrutor">
    <input type="hidden" asp-for="Cpf" />
    @Html.Partial("_InstrutorForm", Model)
</form> 

@section Scripts {
    <script>

        function submitForm() {
            const formData = {

                Nome: checkField(document.getElementById('Nome')),
                CPF: '@Model.Cpf',
                Telefone: checkField(document.getElementById('Telefone')),
                Email: checkField(document.getElementById('Email')),
                Login: checkField(document.getElementById('Login')),
                Senha: checkField(document.getElementById('Senha'))
            };

            if (!validateFormInstrutor(formData)) {
                alert("Não foi possível salvar as informações.");
                return;
             }
            fetch('/api/Instrutor/@Model.Cpf', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => {
                response.json()
                window.location.href = '/Instrutor/Instrutores';
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
}