@model Instrutor
@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    <h1 class="display-4">Cadastro</h1>
</div>

<form id="cadastroForm" asp-action="Post" method="post" asp-controller="Colaborador">
    @Html.Partial("_ColaboradorForm", Model)
</form>

@section Scripts {
    <script>

        function submitForm() {
            
            const formData = {

                Nome: checkField(document.getElementById('Nome')),
                CPF: checkField(document.getElementById('CPF')),
                Telefone: checkField(document.getElementById('Telefone')),
                Email: checkField(document.getElementById('Email')),
            };

            if (!validateFormInstrutor(formData)) {
                return;
             }


            fetch('/api/Instrutor', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => {
                
                if(response.status === 400){
                    return response.text().then(text => {
                                alert(text);
                                throw new Error(text); 
                            });
                }
                return response.json();
            })
            .then(data => {
                console.log("Data", data)
                window.location.href = '/Colaborador/Index';
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
}