@model Workshop
@{
    ViewData["Title"] = "Editar Workshop";
}

<div class="text-center">
    <h1 class="display-4">Editar Workshop</h1>
</div>

<form id="cadastroForm" asp-action="Get" method="get" asp-controller="Cadastro">
    <input type="hidden" asp-for="ID" />
    @Html.Partial("_WorkshopForm", Model)
</form> 

@section Scripts {
    <script>

        function submitForm() {

            const dateFields = document.querySelectorAll('p[name="Datas"]');
            const dates = Array.from(dateFields).map(field => new Date(field.id).toISOString());
            const formData = {

                Nome: checkField(document.getElementById('Nome')),
                Descricao: checkField(document.getElementById('Descricao')),
                Datas: dates,
                UsuarioCpf: checkField(document.getElementById('Usuario')),
                Categoria: checkField(document.getElementById('Categoria')),
                Modalidade: checkField(document.getElementById('Modalidade'))
            };

            fetch('/api/Workshop/@Model.ID', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            }).then(response =>{
                if (!response.ok) {
                    const contentType = response.headers.get('Content-Type');
                    if (contentType && contentType.includes('application/problem+json; charset=utf-8')){
                        return response.json().then(errorData => {
                            const erros = errorData.errors;
                            const mensagens = [];

                            for (let campo in erros) {
                                mensagens.push(erros[campo][0]);
                            }
                            alert(mensagens.join('\n')); 
                            throw new Error(mensagens.join('\n'));
                        });
                    }
                    response.text().then(errorText => {
                        alert(`${errorText}`);
                        throw new Error(errorText);
                    });
                    throw new Error("Erro");
                }
            })
            .then(data => {
                window.location.href = '/Home/Workshops';
            })
            .catch(error => console.error('Erro:', error));
        }
    </script>
}