html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding:6px;
}


.btn-custom {
    background-color: rgba(1, 169, 152, 1);
    color: #ffffff;
    height: fit-content;
    padding-block: 6px;
    border-color: transparent;
    border-radius: 5px;
    padding-inline: 20px;
    line-height: initial;
    min-width: 150px
}

.div {
    margin-bottom:20px;
}

.divDatas {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 30px;
}

.pDatas {
    margin-top: 0;
    margin-right: 10px;
    background-color: rgba(1, 169, 152, 0.3);
    border-radius: 5px;
    padding-inline: 6px;
    height: fit-content;
}

#datasContainer {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divDuasColunas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}


.error-border {
    border: 1px solid red;
}

.divFormulario {
    padding-inline: 6px;
    padding-top: 30px;
}


.delete-icon {
    padding-inline: 6px;
}

.divBotoes {
    padding-top: 20px;
    display: flex;
    justify-content: right;
    margin-top: 40px;
    
}


.form-control:focus {
    box-shadow: 2px 2px 2px 2px lightgray;
    border: 1px solid lightgray;
}

.inputLogin {
    width:auto;
}

.divLogin {
    width: fit-content;
    border-color: lightgray;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-style: groove;
    border-width: 0.5px;
    padding: 20px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-login {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 40vh;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;

}

select {
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

.table-container {
    max-height: 500px; 
    overflow-y: auto;
}

.table-container table {
    margin-bottom: 0; /* Remove o espaço extra da tabela dentro do container */
}









