@{
    ViewData["Title"] = "Instrutores";
}

<div class="text-center">
    <h1 class="display-4">Instrutores</h1>
</div>

<div class="text-end div">
    <button class="btn-custom" onclick="cadastrarItem()")>Adicionar</button>
</div>


<div class="text-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="data-container">
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            fetch('/api/Instrutor') 
                .then(response => response.json())
                .then(data => {
                    const container = $('#data-container');
                    container.empty();
                    data.forEach(item => {
                        container.append(`
                          <tr data-id="${item.cpf}">
                                <td>${item.nome}</td>
                                <td>${item.email}</td>
                                <td>${item.telefone}</td>
                                <td><i class="fas fa-edit" onclick="editarItem('${item.cpf}')"></i></td>
                                <td><i class="fas fa-trash-alt" onclick="deletarItem('${item.cpf}','${item.nome}')"></i></td>
                            </tr>
                        `);
                    });
                })
                .catch(error => {
                    console.error('Erro ao buscar dados:', error);
                    container.append('<tr><td colspan="7">Erro ao buscar dados</td></tr>');
                });
        });


        function editarItem(cpfParametro) {
            window.location.href = `/Instrutor/Instrutor/${encodeURIComponent(cpfParametro)}`;
        }

        function cadastrarItem() {
            window.location.href = `/Instrutor/Cadastrar`;
        }


        function deletarItem(cpf, nome) {
                    if (!confirm(`Deseja deletar o instrutor: ${nome}?`)) {
                        return;
                    }
                    fetch(`/api/Instrutor/${cpf}`, {
                        method: 'DELETE'
                    })
                    .then(response => {
                        if (response.ok) {
                            document.querySelector(`tr[data-id="${cpf}"]`).remove();
                        } else {
                             return response.text().then(errorText => {
                                alert(`${errorText}`);
                            });
                        }
                    })
                    .catch(error => console.error("Erro:", error));
                }

    </script>
}
